<mat-toolbar color="primary">
  <span>Libre Content App</span>
</mat-toolbar>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Contenido
      </mat-panel-title>
      <mat-panel-description>
        Crear o editar nuevo contenido
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Título" [(ngModel)]="content.title">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Autor" [(ngModel)]="content.author">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Descripción" [(ngModel)]="content.description">
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="addOrEditContent()">Crear Contenido</button>
  </mat-expansion-panel>
  <mat-list>
    <mat-list-item *ngFor="let content of contents" (click)="selectContent(content)">
      <h3 matLine> {{content.title}} <div class='icono-eliminar' (click)="deleteContent(content._id)">❌</div></h3>
      <p matLine> {{content.author}} </p>
      <p matLine> {{content.description}} </p>
    </mat-list-item>
  </mat-list>
</mat-accordion>

